{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .blinkblink {
    .blink { animation: blinker 1.5s linear infinite; color: orange; font-family: sans-serif;
    }
</style>

<div class="example-wrapper">
    <h1 class="blinkblink">Hello!!! This friendly message is coming from zzz.com! ✅</h1>
    <div>
        <div class="example-wrapper">
            <h2>Lettre de motivation</h2>
            <div>
                <p>
                    Bonjour,<br>
                    Je me permets de vous solliciter pour le poste de "Développeur PHP (H/F)" pour lequel je souhaite vous proposer ma candidature.
                    J'ai été formé au CNAM et par Aliptic. J'ai étudié la conception des bases de données façon Meurise et accès en Php via Pdo, MySqli.
                    Je sais générer du pdf en php, J'ai un goût pour l'algorithmique, et je sors d'une formation sur Symfony...<br>
                    J'héberge chez moi sur un raspberry Pi un site pour présenter de futures maquettes (j'ai obtenu des sous domaines ainsi que des certificats SSL par Letsencrypt...<br>
                    voici l'adresse: <a href="https://zzz.com">zzz.com</a><div><img src="{{ absolute_url(asset('img/raspOne.gif')) }}"></div>(c'est là en fait...)  je ne montre rien pour l'instant à part la version de Symfony avant d'aboutir
                à quelque chose de consistant mais cela témoigne du fait que je peux initier des projets Symfony...
                j'ai travaillé plusieurs langages et je me forme moi même sur Node et React... Je vis sans doute loin du siège de votre entreprise, mais je peux travailler en télé-travail avec visio et partage d'écran toute la journée via Discord ou autre...<br>
                Je peux bénéficier d'une mesure POEI via Pôle Emploi : possibilité de me former régulièrement pour monter en compétence par Aliptic ou le CNAM.
                Vous verrez que sur mon CV que j'ai été professeur de Musique (pendant 26 ans) et Technicien son  mais suite à des problèmes de santé j'ai arrêté car beaucoup de route. Je me suis remis...
                <br>
                Veuillez trouver en pièce jointe mon CV.
                Je me tiens à votre disposition pour toutes questions relatives à mon profil.
                Bien cordialement.<br>

                Signé: <br>
                <strong>Mon Nom</strong>
                </p>
                <!--https://www.w3schools.com/css/css3_animations.asp-->
            </div>
            <div class="example-wrapper">
                <h1>Hello {{ controller_name }}! ✅</h1>

                This friendly message is coming from:
                <ul>
                    <li>Your controller at <code><a href="{{ '/var/www/docker_sf/src/Controller/WelcomeController.php'|file_link(0) }}">src/Controller/WelcomeController.php</a></code></li>
                    <li>Your template at <code><a href="{{ '/var/www/docker_sf/templates/welcome/index.html.twig'|file_link(0) }}">templates/welcome/index.html.twig</a></code></li>
                </ul>
            </div>
        </div>
        {% endblock %}
